root{
  font-size: 62.5%;
}
html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color:black;
  /*font-weight: 400;*/
  direction: rtl;
  font-family: IRANSans, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --swiper-navigation-size: 0.7rem !important;
}

.swiper-button-disabled {
  opacity: 0 !important;
}
.banner{
  border-radius: 12px;
}
.accordion{
/*background-color: red;*/
  overflow: scroll;
  overflow-x: hidden;
  width: 380px;}
::-webkit-scrollbar {
  width: 5px;

}
::-webkit-scrollbar-button{
  height: 50px;
}
  /* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #AAAAAA;
 border-radius: 20px;

}


